/*
 * Globals
 */

/* {% load static %} */
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  height: 100%;
}

body {
  background-image: url('./outrun.jpg');
  background-repeat: repeat;
  background-position: top;
}

 h1 {
  padding: .25rem 0;
  font-weight: 700;
  color: cyan;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-align: center;
}

/* h2 {
  padding: .25rem 0;
  font-weight: 700;
  color: rgb(239, 255, 93);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
} */

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px; 
  grid-template-areas: 
    "audioUpload"    "audioFiles";
}
.audioUpload { grid-area: audioUpload; }
.audioFiles { grid-area: audioFiles; }
.synthForm { grid-area: synthForm; }
.confFiles { grid-area: confFiles; }

.td-bright {
  color: white;
}
 .nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-align: center;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}