{% extends 'base.html' %}

{% block content_index %}
<div class="container">

    
    <div class="configUpload">
        <h2 style="color:yellow"> Config File Upload</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-control">
                <div class="form-group">
                    {{ configform.file }}
                </div>
            </div>
            <button type="submit">Upload Config</button>
        </form>
    </div>
    
        <div class="AudioUpload">
        <h2 style="color:yellow"> Audio File Upload</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-control">
                <div class="form-group">
                    {{ audioform.file }}
                </div>
            </div>
            <button type="submit">Upload Audio</button>
        </form>
    </div>

    <div class="audioFiles">
        <div class="table-responsive">
        <table class= "table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <h2 style="color:magenta"> Audio Name</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for audio in audio_rows %}
                    <tr>
                        <td class="td-bright">{{ audio.name }}</td>
                        <td>
                            <!-- Needs a ref to file location -->
                            <button class='btn btn-primary' name="download_button"> Download</button> 
                        </td>
                        <td>
                            <!-- Nees to sumit a POST to index for deletion (action) of file (id)  -->
                            <a href = "{% url 'delete-audio' audio.id %}" class='btn btn-danger'> Delete </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <div class="configFiles">
        <div class="table-responsive">
        <table class= "table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <h2 style="color:magenta">Synth Name</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for config in config_rows %}
                    <tr>
                        <td class="td-bright">
                            {{ config.name }}
                        </td>
                        <td>
                            <!-- Needs a ref to file location -->
                            <button class='btn btn-primary' name="download_button"> Download</button> 
                        </td>
                        <td>
                            <!-- Nees to sumit a POST to index for deletion (action) of file (id)  -->
                            <a href = "{% url 'delete-config' synth.id %}" class='btn btn-danger'> Delete </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}