{% extends 'base.html' %}

{% block content_index %}
<div class="container">
    <div class="AudioUpload">
        <h2 style="color:yellow"> Audio File Upload</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-control">
                <div class="form-group">
                    {{ audioform.file }}
                </div>
            </div>
            <button type="submit">Upload Audio</button>
        </form>
    </div>
    
    <div class="synthForm">
        <h2 style="color:yellow">Synth Settings Upload</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {% for field in synthform %}
                    <div class="form-control">
                        <div class="form-group">
                            {{ field }}
                            <label>{{ field.name }}</label>                        
                        </div>
                    </div>
                {% endfor %}
            <button type="submit">Upload Synth Settings</button>
        </form>
    </div>
    
    <div class="audioFiles">
        <table class= "table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <h2 style="color:yellow"> Audio Name</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for audio in audio_files %}
                    <tr>
                        <td class="td-bright">{{ audio.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="synthFiles">
        <table class= "table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <h2 style="color:yellow">Synth Name</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for synth in synth_files %}
                    <tr>
                        <td class="td-bright">{{ synth.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}