{% extends 'base.html' %}

{% block content_upload %}
    <h1> Upload Audio or Synth Settings</h1>
    <div class="div-forms">
        <div class="div-form">
            <p>Audio Files</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="audio_file">
                <button type="submit">Upload Audio</button>
            </form>
        </div>
        <div class="div-form">
            <p>Synth Settings</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ synthform }}
                <button type="submit">Upload Synth Settings</button>
            </form>
        </div>
    </div>
    
{% endblock %}